@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.font-family-karla {
    font-family: karla;
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #fe793643;
}

.upgrade-btn:hover {
    background: #fe793643;
}

.active-nav-link {
    background: #fe793643;
}

.nav-item:hover {
    background: #fe793643;
}

.account-link:hover {
    background: #fe793643;
}

.sidebar-transition {
    transition: transform 0.3s ease-in-out;
}

/* ... (your existing styles) ... */
.content-transition {
    transition: margin-left 0.3s ease-in-out;
}

.content-open {
    margin-left: 0px;
    /* Sesuaikan sesuai lebar sisi bar */
}

.sidebar-size {
    width: 300px;
    /* Sesuaikan sesuai lebar sisi bar */
}

.content-closed {
    margin-left: -300px;
}